* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding: 4px 8px;
  margin: 12px 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  padding: 3px;
  margin: 0 8px;
}
